@model vizzopWeb.Models.Business
@{
    Layout = null;
    vizzopWeb.Utils utils = new vizzopWeb.Utils();
}
<div class="content-header">
    <h1>System Settings
    </h1>
</div>
<div id="breadcrumb">
    <a class="tip-bottom"><i class="icon-home"></i>
        <span style="vertical-align: middle;">Control Panel</span></a><a style="vertical-align: middle;" class="current">System Settings</a>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-th"></i>
                </span>
                <h5>System Settings</h5>
            </div>
            <div id="WidgetSettings">
                <form class="widget-content form-vertical">
                    <!--
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">General Options</a></li>
                        <li><a href="#">Co-Browsing Behaviour</a></li>
                        <li><a href="#">Widget Appearance</a></li>
                    </ul>
                    -->
                    <div style="clear: both;">
                        <h5>General Options</h5>
                        <div class="control-group">
                            <div class="controls">
                                <span style="display: inline-block; vertical-align: middle; margin-right: 5px;">
                                    @Html.CheckBoxFor(model => model.AllowJsApiLoading, new { @class = "input-medium", @style = "margin: 0" })
                                </span>
                                <label for="AllowJsApiLoading" style="display: inline-block; vertical-align: middle; margin: 0;">
                                    @Html.DisplayNameFor(model => model.AllowJsApiLoading)
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <span style="display: inline-block; vertical-align: middle; margin-right: 5px;">
                                    @Html.CheckBoxFor(model => model.ShowHelpButton, new { @class = "input-medium", @style = "margin: 0" })
                                </span>
                                <label for="ShowHelpButton" style="display: inline-block; vertical-align: middle; margin: 0;">
                                    @Html.DisplayNameFor(model => model.ShowHelpButton)
                                </label>
                            </div>
                        </div>
                        <div class="control-group" style="display: none;">
                            @Html.LabelFor(model => model.BusinessHours, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextAreaFor(model => model.BusinessHours, new { @class = "input-medium", @placeholder = "Business Hours" })
                                @Html.ValidationMessageFor(model => model.BusinessHours, null, new { @class = "help-inline" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div style="clear: both;">
                        <h5>Co-Browsing Behaviour</h5>
                        <div>
                            <strong>HTML controls excluded from recording</strong>. Add here the CSS selectors of the private controls, so their contents are changed into asterisks
                        </div>
                        <br />
                        <div class="control-group">
                            <div class="controls">
                                <div>
                                    <span style="display: inline-block; vertical-align: middle; margin-right: 5px;">
                                        <input type="text" id="new_excluded" style="width: 238px;" />
                                    </span>
                                    <label for="new_excluded" style="display: inline-block; vertical-align: middle; margin: 0;">
                                        <a class="vizzop-btn" onclick="javascript:Controls_Add_New();">add new</a>
                                    </label>
                                </div>
                                <div style="margin-top: 5px;">
                                    <span style="display: inline-block; vertical-align: top; margin-right: 5px;">
                                        @{
                                            var ControlsList = new List<string>();
                                            foreach (var obj in Model.Controls)
                                            {
                                                ControlsList.Add(obj.Name);
                                            }
                                        }
                                        @Html.ListBoxFor(model => model.Controls,
                                    new MultiSelectList(ControlsList),
                                    new
                                    {
                                        id = "Controls",
                                        Multiple = "multiple",
                                        Size = 10,
                                        style = "width: 250px;"
                                    })
                                    </span>

                                    <label for="Controls" style="display: inline-block; vertical-align: top; margin: 0;">
                                        <div>
                                            <a class="vizzop-btn vizzop-btn-warning" onclick="javascript:$('#Controls option:selected').remove();">remove selected</a>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!--border-right: solid 1px #ddd; -->
                    <div style="width: 420px; vertical-align: top; display: inline-block; padding-right: 20px;">
                        <h5>Widget Appearance</h5>
                        <div style="width: 210px; display: inline-block; vertical-align: top;">
                            <div class="control-group">
                                @Html.LabelFor(model => model.WidgetBackgroundColor, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.WidgetBackgroundColor, new { @class = "colorwell input-small" })
                                    @Html.ValidationMessageFor(model => model.WidgetBackgroundColor, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.WidgetForegroundColor, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.WidgetForegroundColor, new { @class = "colorwell input-small" })
                                    @Html.ValidationMessageFor(model => model.WidgetForegroundColor, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.WidgetBorderColor, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.WidgetBorderColor, new { @class = "colorwell input-small" })
                                    @Html.ValidationMessageFor(model => model.WidgetBorderColor, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(model => model.WidgetText, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.WidgetText, new { @class = "input-large", @placeholder = "...not set...", @onkeyup = "javascript:updatewidget();", @maxlength = "35" })
                                    @Html.ValidationMessageFor(model => model.WidgetText, null, new { @class = "help-inline" })
                                </div>
                            </div>
                        </div>
                        <div style="width: 200px; display: inline-block; vertical-align: top;">
                            <div id="picker"></div>
                        </div>
                    </div>
                    <div style="width: 300px; vertical-align: top; display: inline-block; padding-left: 20px;">
                        <div class="control-group-">
                            <h5>Preview</h5>
                        </div>
                        <div style="width: 500px; height: 250px; background-color: #fafafa; position: relative; overflow: hidden; border: 1px solid #DDD;">
                            <div style="width: 500px; position: absolute; bottom: 30px; left: 30px; top: auto; right: auto; text-align: justify; color: #bbbbbb;">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat fringilla ipsum. Curabitur facilisis nulla quis vulputate tincidunt. Aenean auctor libero libero, id interdum ipsum blandit non. Suspendisse mi tellus, suscipit et felis id, pulvinar feugiat mauris. Pellentesque scelerisque urna bibendum nisl feugiat pretium id non metus. Vestibulum laoreet justo id semper commodo. Nullam cursus convallis felis in tristique. Sed id lorem erat. Phasellus elementum risus at turpis suscipit, non accumsan nunc faucibus.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat fringilla ipsum. Curabitur facilisis nulla quis vulputate tincidunt. Aenean auctor libero libero, id interdum ipsum blandit non. Suspendisse mi tellus, suscipit et felis id, pulvinar feugiat mauris. Pellentesque scelerisque urna bibendum nisl feugiat pretium id non metus. Vestibulum laoreet justo id semper commodo. Nullam cursus convallis felis in tristique. Sed id lorem erat. Phasellus elementum risus at turpis suscipit, non accumsan nunc faucibus.
                                </p>
                            </div>
                            <div class="zs_dialog ui-draggable focused" style="position: absolute; display: block; margin-left: 0px; margin-top: 0px; top: auto; left: auto; z-index: 1000001; width: auto; height: auto; right: 10px; bottom: 0px;">
                                <div class="zs_dialog_inner" style="display: none;">
                                    <div class="zs_dialog_title"><span class="title">Vizzop - Live Support</span><span class="zs_dialogclosebutton"><i class="vizzop-icon-remove vizzop-icon-white"></i></span></div>
                                    <div class="zs_boxinfo" style="border: solid 2px null !important;"></div>
                                    <div style="display: none;" class="boxstatus"></div>
                                </div>
                                <span id="dialoghandle" class="zs_dialoghandle" style="background: @Model.WidgetBackgroundColor !important; color: @Model.WidgetForegroundColor !important; border: solid 1px @Model.WidgetBorderColor">
                                    <span class="zs_hoverbartext" id="dialogtext"></span>
                                    <i class="vizzop-icon-comment zs_hoverbarimg"></i>
                                    <div class="zs_dialoghandlepubli">powered by <a target="blank" href="https://vizzop.com">vizzop</a></div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="control-group-">
                            <a class="vizzop-btn vizzop-btn-primary" onclick="javascript:save_changes();">Save Changes</a>
                            <!--
                            <a class="vizzop-btn" onclick="javascript:set_defaults();">Reset to Defaults</a>
                                -->
                        </div>
                    </div>
                </form>
            </div>
            <div id="WidgetLoading" style="display: none;">
                <div class="loading" style="margin-top: 100px;">
                    <div style="text-align: center;">
                        saving...
                    </div>
                    <div style="text-align: center; margin-top: 5px;">
                        <img src="@Url.Content("~/Content/images/loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function Controls_Add_New() {
        var val = $('#new_excluded').val(); 
        var existence = $('#Controls option[value="' + val + '"]'); 
        if((val != null) && (val != '') && (existence.length < 1)) { 
            var opt = $('<option></option>').text(val).val(val);
            $('#Controls').prepend(opt);
            $('#new_excluded').val('');
        };
    }

    var default_bg = '@Model.WidgetBackgroundColor';
    var default_fb = '@Model.WidgetForegroundColor';
    var default_border = '@Model.WidgetBorderColor';
    var default_AllowJsApiLoading = @Html.Raw(Model.AllowJsApiLoading.ToString().ToLowerInvariant());
    var default_ShowHelpButton = @Html.Raw(Model.ShowHelpButton.ToString().ToLowerInvariant());
    @if ((Model.WidgetText != null) && (Model.WidgetText != ""))
    {
        <text>var default_text = '@Model.WidgetText';</text>
    }
    else
    {
        <text>var default_text = '@utils.LocalizeLang("click_support", utils.GetLang(HttpContext.Current), null)';</text>
    }

    var default_businesshours = '@Model.BusinessHours';

    $(document).ready(function () {
        $('#dialogtext').text(default_text);
        var f = $.farbtastic('#picker');
        var p = $('#picker').css('opacity', 0.25);
        var selected;
        $('.colorwell')
            .each(function () { f.linkTo(this); $(this).css('opacity', 0.75); })
            .focus(function () {
                if (selected) {
                    $(selected).css('opacity', 0.75).removeClass('colorwell-selected');
                }
                $(selected = this).css('opacity', 1).addClass('colorwell-selected');
                f.linkTo(function callback(color) {
                    $(selected).val(color);
                    updatewidget();
                });
                p.css('opacity', 1);
            })
            .blur(function () {
                if (selected) {
                    $(selected).css('opacity', 0.75).removeClass('colorwell-selected');
                }
                $(selected = this).css('opacity', 1).addClass('colorwell-selected');
                f.linkTo(function callback(color) {
                    $(selected).val(color);
                    updatewidget();
                });
                p.css('opacity', 1);
            });
    });
    function updatewidget() {

        var w_text = default_text;
        var new_text = $('#WidgetText').val();
        if (new_text) {
            w_text = new_text;
        }
        $('#dialogtext').text(w_text);
        $('.colorwell').each(function () {
            $(this).attr('style', 'background-color: ' + $(this).val() + ';');
        });
        var bg = 'background: ' + $('#WidgetBackgroundColor').css('background-color') + ' !important; color: ' + $('#WidgetForegroundColor').css('background-color') + ' !important; border: solid 1px ' + $('#WidgetBorderColor').css('background-color') + ' !important; border-bottom: none !important;';
        //console.log(bg);
        $('#dialoghandle').attr('style', bg);
    }
    function set_defaults() {
        $('#WidgetText').val('');
        $('#BusinessHours').val('');
        $('#dialogtext').val(default_text);
        $('#WidgetBackgroundColor').val(default_bg);
        $('#WidgetForegroundColor').val(default_fb);
        $('#WidgetBorderColor').val(default_border);
        $('AllowJsApiLoading').attr('checked', default_AllowJsApiLoading);
        $('ShowHelpButton').attr('checked', default_ShowHelpButton);
        updatewidget();
    }
    function save_changes() {
        try {
            $("#WidgetSettings").hide();
            $("#WidgetLoading").show();
            //vizzoplib.log(interlocutor);
            var Controls = [];
            $("#Controls option").each(function()
            {
                Controls.push($(this).val());
            });

            var msg = {
                'WidgetBackgroundColor': $('#WidgetBackgroundColor').val(),
                'WidgetForegroundColor': $('#WidgetForegroundColor').val(),
                'WidgetBorderColor': $('#WidgetBorderColor').val(),
                'WidgetText': $('#WidgetText').val(),
                'BusinessHours': $('#BusinessHours').val(),
                'AllowJsApiLoading': $('#AllowJsApiLoading').is(':checked'),
                'ShowHelpButton': $('#ShowHelpButton').is(':checked'),
                'Controls': JSON.stringify(Controls)
            };
            var url = "../Panel/SaveWidgetSettings";
            var post = jVizzop.ajax({
                url: url,
                type: "POST",
                data: msg,
                dataType: "json",
                beforeSend: function (xhr) {
                },
                success: function (data) {
                    $("#WidgetSettings").show();
                    $("#WidgetLoading").hide();
                    if (data == true) {
                        alert("changes saved");
                    } else {
                        alert("error saving changes");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#WidgetSettings").show();
                    $("#WidgetLoading").hide();
                    vizzoplib.logAjax(url, msg, jqXHR);
                }
            });
        } catch (err) {
            vizzoplib.log("Error Saving Changes" + "/" + err);
        }
    }
</script>
