@model vizzopWeb.Models.PasswordReset
@{
    ViewBag.Title = "Password Reset - vizzop";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<center>
    <br />
    <h3>
        Resetting your Password at vizzop
    </h3>
    <br />
    @using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new { @class = "well form-horizontal", @style = "width: 500px;" }))
    {
        @Html.ValidationSummary(true)
        if (ViewBag.errors != null)
        {
        <div class="alert error">
            <a class="close" data-dismiss="alert">×</a>
            @Html.Raw(ViewBag.errors)
        </div>
        }
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Key)
        <fieldset>
            <legend>            
                <h3>Password Reset</h3>
                <h4>Enter your New Password</h4>
            </legend>
            <div>
            <label for="Password" class="control-label">Your new Password</label>
            <div class="controls">
                    @Html.EditorFor(model => model.Password, new { @class = "input-small" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "help-inline" })
                </div>
            </div>
            <div>
            <label for="ConfirmPassword" class="control-label">Password Confirmation</label>
            <div class="controls">
                    @Html.EditorFor(model => model.ConfirmPassword, new { @class = "input-small" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "help-inline" })
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" value="Send" class="btn btn-success btn-large" />
            </div>
        </fieldset>
    }
</center>
